<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
      <a [routerLink]="'/home'" routerDirection="back">
        <ion-icon name="home"></ion-icon>
      </a>

    </ion-buttons>
    <ion-title>Agenda semanal</ion-title>
    <ion-buttons slot="end" fill="clear">
      <a [routerLink]="'/cart'" routerDirection="forward">
        <ion-icon name="cart"></ion-icon>
      </a>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Botón para mover ingredientes a la lista de compra -->
  <ion-item>
    <ion-checkbox slot="start" [(ngModel)]="clearShoppingListEnabled"><ion-label>Vaciar
        carrito</ion-label></ion-checkbox>
    <ion-button expand="block" (click)="moveIngredientsToShoppingList()">
      Crear lista de la compra
    </ion-button>


  </ion-item>

  <ion-list>
    <div *ngFor="let day of upcomingWeek">
      <ion-item-divider>
        {{ day.dayName }}<span class="day-date">, {{ day.formattedDate }}</span>
      </ion-item-divider>
      <ion-reorder-group disabled="false" (ionItemReorder)="reorderRecipes($event, day)">
        <ion-item-sliding *ngFor="let recipe of day.recipes">
          <ion-item [routerLink]="['/recipe', recipe.recipe_id]">
            <ion-reorder slot="start">
              <ion-icon name="reorder-three-outline"></ion-icon>
            </ion-reorder>
            <ion-label>{{ recipe.recipe_title }}</ion-label>
            <ion-icon name="restaurant-outline" slot="end"></ion-icon>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="deleteRecipeFromAgenda(recipe)">
              Eliminar
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-reorder-group>
      <ion-item *ngIf="day.recipes.length === 0">
        <ion-label>No hay recetas planificadas para este día</ion-label>
      </ion-item>
    </div>
  </ion-list>


  <div class="ion-text-center">
    <ion-button fill="outline" size="small" (click)="refreshAgenda()">
      Refrescar agenda
    </ion-button>
  </div>
</ion-content>