<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
      <a [routerLink]="'/home'" routerDirection="back">
        <ion-icon name="home"></ion-icon>
      </a>
    </ion-buttons>
    <ion-title>Agenda semanal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <!-- Agenda semanal -->
  <ion-list>
    <ion-item>
      <div class="ion-text-center">
        <ion-button (click)="moveIngredientsToShoppingList()">
          Crear lista de la compra
          <ion-icon name="cart-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-item>
    <div *ngFor="let day of upcomingWeek">
      <ion-item-divider>
        {{ day.dayName }}, {{ day.formattedDate }}
      </ion-item-divider>
      <ion-item-sliding *ngFor="let recipe of day.recipes">
        <ion-item [routerLink]="['/recipe', recipe.recipe_id]">
          <ion-label>{{ recipe.recipe_title }}</ion-label>
          <ion-icon name="restaurant-outline" slot="end"></ion-icon>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option (click)="deleteRecipeFromAgenda(recipe)" color="danger">
            Delete
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      <ion-item *ngIf="day.recipes.length === 0">
        <ion-label>No hay recetas planificadas para este día</ion-label>
      </ion-item>
    </div>
  </ion-list>

  <!-- Resto de los platos -->
  <ion-list>
    <ion-list-header>
      <h2>Platos futuros</h2>
    </ion-list-header>
    <ion-item-sliding *ngFor="let recipe of futureRecipes">
      <ion-item [routerLink]="['/recipe', recipe.recipe_id]">
        <ion-label>
          {{ recipe.recipe_title }} - {{ recipe.date | date: 'dd/MM/yyyy' }}
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="deleteRecipeFromAgenda(recipe)" color="danger">
          Delete
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item *ngIf="futureRecipes.length === 0">
      <ion-label>No hay platos planificados más adelante</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
