<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="navigateBack()" fill="clear" slot="end">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ recipe?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="recipe; else loading">
    <div class="ion-text-center">
      <p>Paso {{ currentStepIndex + 1 }} de {{ recipe.steps.length }}</p>
      <h2>{{ recipe.steps[currentStepIndex].instructions }}</h2>
      <p>Duración del paso: <b>{{ recipe.steps[currentStepIndex].duration |
          timeFormat:recipe.steps[currentStepIndex].durationUnit }}</b></p>

      <p>Tiempo restante:</p>
      <h2 class="clock" *ngIf="remainingTime > 0"> {{ remainingTime | timeFormat:'seconds' }}</h2>
    </div>

    <div class="ion-text-center">
      <ion-button [disabled]="timerRunning" (click)="startTimer()" size="small">
        <ion-icon name="play-outline" slot="start"></ion-icon>
        Empezar
      </ion-button>
      <ion-button [disabled]="!timerRunning" (click)="resetTimer()" size="small" fill="outline">
        <ion-icon name="refresh-outline" slot="start"></ion-icon>
        Resetear
      </ion-button>
    </div>

    <div class="ion-text-center">
      <ion-button [disabled]="currentStepIndex === 0" (click)="previousStep()">
        <ion-icon name="arrow-back-outline" slot="start"></ion-icon>
        Anterior
      </ion-button>

      <ion-button [disabled]="currentStepIndex === recipe.steps.length - 1" (click)="nextStep()">
        Siguiente
        <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
      </ion-button>
    </div>
  </ng-container>

  <ng-template #loading>
    <div class="ion-text-center">
      <ion-spinner></ion-spinner>
      <p>Cargando receta...</p>
    </div>
  </ng-template>
</ion-content>