<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
      <a [routerLink]="'/home'" routerDirection="back">
        <ion-icon name="home"></ion-icon>
      </a>
    </ion-buttons>
    <ion-title>Configuración</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item button (click)="openCategoriesModal()">
      <ion-label>Gestionar categorías</ion-label>
      <ion-icon slot="end" name="settings-outline"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>