<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
      <ion-button (click)="navigateBack()" fill="clear">
        <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>{{ recipe?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-img [src]="recipe?.image_url || 'assets/no-image.png'"></ion-img> -->
  <ion-img src="assets/no-image.svg" style="margin: 0 auto; max-width: 40%" />

  <ion-list>
    <ion-item>
      <ion-label>
        <h1>{{ recipe?.name }}</h1>
        <ion-note>{{ recipe?.intro }}</ion-note>
        <p>{{ recipe?.intro }}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <div class="ion-text-center">
        <ion-button>
          <ion-label>Cocinar</ion-label>
        </ion-button>
        <ion-button fill="outline">
          <ion-icon name="add-circle-outline"></ion-icon>
          <ion-label>Añadir a</ion-label>
        </ion-button>
      </div>
    </ion-item>
    <ion-item>
      <ion-label>
        <p>Dificultad: {{ recipe?.difficulty }}</p>
        <p>Tiempo de preparación: {{ recipe?.preparation_time }}</p>
        <p>Porciones: {{ recipe?.num_people }}</p>
      </ion-label>
    </ion-item>
    <ion-list-header>Ingredientes</ion-list-header>
    <ion-item *ngFor="let ingredient of recipe?.ingredients">
      <ion-label>
        {{ ingredient.quantity }} {{ ingredient.unit }} - {{ ingredient.name }}
      </ion-label>
    </ion-item>
    <ion-list-header>Pasos</ion-list-header>
    <ion-item *ngFor="let step of recipe?.steps; let i = index">
      <ion-label slot="stacked">Paso {{ i + 1 }}</ion-label>
      <ion-label>
        <h3>{{ step.instructions }}</h3>
        <small>Duración: {{ step.duration }} segundos</small>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
